html, body {
  min-height: 100%;
}

html {
  position: relative;
}

body {
  margin-top: 30px;
  margin-bottom: 60px;
}

.right-side {
  float: right;
}

#site-info {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-bottom: 20px;
  font-size: 0.8em;
}

footer p {
  margin: 0;
}

#temp-buttons-wrapper {
  padding-left: 0;
}

#weather-image-wrapper {
  margin-top: 10px;
}

#weather-image {
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

#weather-main-wrapper {
  font-weight: 200;
}

#weather-temp {
  margin-right: 15px;
}

.light-text {
  font-weight: 200;
}

.heavy-text {
  font-weight: 600;
}
